body {
    background-image: url('./1768885035839.jpg');
    background-repeat: repeat;
    background-size: 10% ;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 99dvh;
}

h1 {
    animation: mm 1s linear infinite;
}

#im {
   border: solid 2px white; 
   animation: mm 1s linear infinite;
}


@keyframes mm {
    
    0% {
        border: solid 2px #f800ff;
    }
    
    100% {
        border: solid 2px #e3ff00;
    }
}
